<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>招生平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!--base css styles-->
    <link rel="stylesheet" href="__CSS__/bootstrap/css/bootstrap.css">
    {include file="public/header"}
</head>
<body>

<!-- BEGIN 皮肤设置 -->
{include file="public/skin-r" /}
<!-- END 皮肤设置 -->

<!-- BEGIN Navbar -->
{include file="public/navbar-t" /}
<!-- END Navbar -->

<!-- BEGIN Container -->
<div class="container" id="main-container">
    <!-- BEGIN Sidebar -->
    {include file="public/sidebar-l" /}
    <!-- END Sidebar -->

    <!-- BEGIN Content -->
    <div id="main-content">
        <!-- BEGIN Page Title -->
        <div class="page-title">
            <div>
                <h1><i class="fa fa-file-o"></i> 招生管理平台</h1>
                <h4>数据管理中心</h4>
            </div>
        </div>
        <!-- END Page Title -->

        <!-- BEGIN Breadcrumb -->
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i>起始页</li>
            </ul>
        </div>
        <!-- END Breadcrumb -->


        <!-- BEGIN Tiles -->
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tile">
                                    <p class="title">FLATY - Responsive Admin Template</p>
                                    <p>Based on twitter bootstrap, 9 predefined color, clean and minimal design, easy to change and etc.</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 tile-active">
                                <a class="tile tile-pink" data-stop="3000" href="http://codecanyon.net/item/flaty-wp-premium-wordpress-flat-admin-template/5329999">
                                    <div class="img img-center">
                                        <img src="__IMG__/demo/wp-logo.png" />
                                    </div>
                                    <p class="title text-center">Visit FLATY wp</p>
                                </a>

                                <a class="tile tile-orange" href="http://codecanyon.net/item/flaty-wp-premium-wordpress-flat-admin-template/5329999">
                                    <p>FLATY wp is new custom theme designed for the Wordpress admin.</p>
                                </a>
                            </div>

                            <div class="col-md-6">
                                <a class="tile tile-red" href="http://themeforest.net/item/flaty-premium-responsive-admin-template/5247864">
                                    <div class="img img-center">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <p class="title text-center">Buy FLATY</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12 tile-active">
                                <div class="tile tile-magenta">
                                    <div class="img img-center">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                    <p class="title text-center">FLATY Admin</p>
                                </div>

                                <div class="tile tile-blue">
                                    <p class="title">FLATY Admin</p>
                                    <p>FLATY is the new premium and fully responsive admin dashboard template.</p>
                                    <div class="img img-bottom">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="tile tile-green">
                                    <div class="img">
                                        <i class="fa fa-copy"></i>
                                    </div>
                                    <div class="content">
                                        <p class="big">+30</p>
                                        <p class="title">Ready Page</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tile tile-orange">
                            <div class="img">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="content">
                                <p class="big">128</p>
                                <p class="title">Comments</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="tile tile-dark-blue">
                            <div class="img">
                                <i class="fa fa-download"></i>
                            </div>
                            <div class="content">
                                <p class="big">+160</p>
                                <p class="title">Downloads</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 tile-active">
                        <div class="tile tile-img" data-stop="3500" style="background-image: url(__IMG__/demo/gallery/5.jpg);">
                            <p class="title">Gallery</p>
                        </div>

                        <a class="tile tile-lime" data-stop="5000" href="gallery.html">
                            <p class="title">Gallery page</p>
                            <p>Click on this tile block to see our amazing gallery page. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="img img-bottom">
                                <i class="fa fa-picture-o"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Tiles -->

        <!-- BEGIN Main Content -->
        <!--这里写首页数据-->
        <!-- END Main Content -->

        <!--footer star-->
        {include file="public/footer"}
        <!--footer end-->
        <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->


<!--basic scripts-->
<script src="__CSS__/jquery/jquery-2.1.4.min.js"></script>

<script src="__CSS__/bootstrap/js/bootstrap.min.js"></script>
<script src="__CSS__/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<!--basic scripts end-->
<script src="__CSS__/jquery-cookie/jquery.cookie.js"></script>
<script src="__JS__/flaty.js"></script>
<script>
    $(function () {
        $("#lee-0").addClass('active')
    })

</script>

</body>
</html>
